# LLM
GROQ_API_KEY=your_groq_api_key_here

# Vector Store
CHROMA_PERSIST_DIR=./chroma_db

# Phase 2 - Database
DATABASE_URL=postgresql://user:password@localhost:5432/medical_agent

# Phase 2 - Auth
JWT_SECRET_KEY=your_secret_key_here
JWT_ALGORITHM=HS256

# Phase 2 - AWS
AWS_ACCESS_KEY_ID=your_aws_key
AWS_SECRET_ACCESS_KEY=your_aws_secret
AWS_BUCKET_NAME=medical-evidence-agent

# Phase 2 - Observability
LANGCHAIN_API_KEY=your_langsmith_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=medical-evidence-agent

# Phase 2 - Search Tool
TAVILY_API_KEY=your_tavily_key